@model List<produto.Models.Produto>




<h2>Voce está na pagina de produtos</h2>


<h5>Detalhes do produto</h5>


<table class="table table-striped table-hover table-bordered">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Nome</th>
            <th scope="col">Descrição</th>
            <th scope="col">Categoria</th>
            <th scope="col">Valor</th>
        </tr>
    </thead>
    <tbody>
        @{
            foreach(var produto in Model){
                <tr>
                    <th scope="row">@produto.Id</th>
                    <td>@produto.Nome</td>
                    <td>@produto.Desc</td>
                    <td>@produto.Cat</td>
                    <td>R$ @produto.Valor</td>
                </tr>
            }
        }
    </tbody>
  </table>